# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
.next
out
build
.turbo

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Testing
coverage

# Prisma
prisma/*.db
prisma/*.db-journal

# Misc
*.tsbuildinfo
next-env.d.ts
